---
repo_url: 'GIT REPO URL'
proj_name: 'PROJECT NAME'
production:
  hosts:
    - xxx
  user: 'xxx'
  key_file_name: 'PATH TO PEM FILE'
  environment_bucket: 'production-envs'
  domains_nginx: 'XXX'
  aws_access_key_id: 'xxx'
  aws_secret_access_key: 'xxx'
  bastion:
    user: 'dkdocs'
    host: 'XXX'
    key_file_name: 'PATH TO BASTION ACCESS FILE'
    port: 272

staging:
  hosts:
    - xxx
  user: 'xxx'
  key_file_name: 'PATH TO PEM FILE'
  environment_bucket: staging-envs'
  domains_nginx: 'XXX'
  aws_access_key_id: 'xxx'
  aws_secret_access_key: 'xxx'
  bastion:
    user: 'dkdocs'
    host: 'XXX'
    key_file_name: 'PATH TO BASTION ACCESS FILE'
    port: 272