[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=%(user)s
Group=%(user)s
WorkingDirectory=%(proj_path)s
ExecStart=%(venv_path)s/bin/gunicorn \
          -c gunicorn.conf.py \
          %(proj_name)s.wsgi:application

[Install]
WantedBy=multi-user.target